body{
    font-family: "Times New Roman", Times, serif;
    background-color: gainsboro;
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    padding: 10px;
}
table{
    background-color: white;
    border: 1px solid black;
	text-align: left;
}
tr{
    border: 1px solid black;  
}
td{
    border: 1px solid black;
    text-align: left;
}
h1{
    text-align: center;
}
